@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section navigation
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/Home/Index">Home</a></li>
        <li><a href="/Home/Rooms">Rooms</a></li>
        <li><a href="/Home/Gallery">Gallery</a></li>
        <li><a href="/Home/About">About Us</a></li>
        <li class="active"><a href="/Home/Contact">Contact Us</a></li>
    </ul>
}

@section featured{
    <div class="mg-page-title parallax">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Contact Us</h2>
                    <p>We would love to hear from you.</p>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div>
        <div class="container">
            <div class="row">
                @if (ViewBag.Message != null)
                {
                    if (ViewBag.Status == "SUCCESS")
                    {
                        <div class="alert alert-success">@ViewBag.Message</div>
                    }
                    else
                    {
                        <div class="alert alert-danger">@ViewBag.Message</div>
                    }
                }
            </div>
        </div>
    </div>
    <div class="mg-page">
        <div class="container">
            <div class="row">

                <div class="col-md-5">
                    <h2 class="mg-sec-left-title">Drop us a message!</h2>
                    @using (Html.BeginForm("Contact", "Home", FormMethod.Post))
                    {
                        <div class="mg-contact-form-input">
                            <label for="full-name">Full Name</label>
                            <input type="text" class="form-control" id="full-name" name="name">
                        </div>
                        <div class="mg-contact-form-input">
                            <label for="email">E-mail</label>
                            <input type="text" class="form-control" id="email" name="mail">
                        </div>
                        <div class="mg-contact-form-input">
                            <label for="phone">Phone</label>
                            <input type="text" class="form-control" id="phone" name="phone">
                        </div>
                        <div class="mg-contact-form-input">
                            <label for="subject">Subject</label>
                            <input type="text" class="form-control" id="subject" name="subject">
                        </div>
                        <div class="mg-contact-form-input">
                            <label for="message">Message</label>
                            <textarea class="form-control" id="message" rows="5" name="message"></textarea>
                        </div>
                        <input type="submit" class="btn btn-dark-main pull-right" value="Send">
                    }
                </div>
                <div class="col-md-7">
                    <h2 class="mg-sec-left-title">Our Address</h2>
                    <p>Getting down to our hotel is easier than you think, this is because we are located right inside the heart of Lagos.</p>
                    <ul class="mg-contact-info">
                        <li><i class="fa fa-map-marker"></i>161 Lagos Abeokuta expressway, araromi bus-stop beside access bank iyana-ipaja, lagos state.</li>
                        <li><i class="fa fa-phone"></i>+2348025872871, +2347066922381, +2348023601362</li>
                        <li><i class="fa fa-envelope"></i><a href="mailto:info@travellerslodge.com.ng">info@travellerslodge.com.ng</a></li>
                    </ul>
                    <div>
                        <img src="~/Content/images/hotel-map.jpg" class="img-responsive" alt="location-map" style="max-height: 500px"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
}