@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section featured{
    <div class="mg-page-title parallax">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2>Gallery</h2>
						@*<p>Cogitavisse erant puerilis utrum efficiantur adhuc expeteretur.</p>*@
					</div>
				</div>
			</div>
		</div>

    <div class="mg-gallery-page">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
						<div class="row" id="mg-grid">
							<figure class="col-md-3 mg-gallery-item" data-groups='["classic"]'>
								<a href="~/Content/images/gallery/IMG-20160217-WA0003.jpg" data-lightbox-gallery="rooms"><img src="~/Content/images/gallery/IMG-20160217-WA0003.jpg" class="img-responsive" alt="" /><span class="mg-gallery-overlayer"><i class="fa fa-search-plus"></i></span></a>
							</figure>
							<figure class="col-md-3 mg-gallery-item" data-groups='["deluxe"]'>
								<a href="~/Content/images/gallery/IMG-20160217-WA0004.jpg" data-lightbox-gallery="rooms"><img src="~/Content/images/gallery/IMG-20160217-WA0004.jpg" class="img-responsive" alt="" /><span class="mg-gallery-overlayer"><i class="fa fa-search-plus"></i></span></a>
							</figure>
							<figure class="col-md-3 mg-gallery-item" data-groups='["royal"]'>
								<a href="~/Content/images/gallery/IMG-20160217-WA0005.jpg" data-lightbox-gallery="rooms"><img src="~/Content/images/gallery/IMG-20160217-WA0005.jpg" class="img-responsive" alt="" /><span class="mg-gallery-overlayer"><i class="fa fa-search-plus"></i></span></a>
							</figure>
							<figure class="col-md-3 mg-gallery-item" data-groups='["classic"]'>
								<a href="~/Content/images/gallery/IMG-20160217-WA0003.jpg" data-lightbox-gallery="rooms"><img src="~/Content/images/gallery/IMG-20160217-WA0003.jpg" class="img-responsive" alt="" /><span class="mg-gallery-overlayer"><i class="fa fa-search-plus"></i></span></a>
							</figure>
							<figure class="col-md-3 mg-gallery-item" data-groups='["deluxe"]'>
								<a href="~/Content/images/gallery/IMG-20160217-WA0007.jpg" data-lightbox-gallery="rooms"><img src="~/Content/images/gallery/IMG-20160217-WA0007.jpg" class="img-responsive" alt="" /><span class="mg-gallery-overlayer"><i class="fa fa-search-plus"></i></span></a>
							</figure>
							<figure class="col-md-3 mg-gallery-item" data-groups='["classic"]'>
								<a href="~/Content/images/gallery/IMG-20160217-WA0008.jpg" data-lightbox-gallery="rooms"><img src="~/Content/images/gallery/IMG-20160217-WA0008.jpg" class="img-responsive" alt="" /><span class="mg-gallery-overlayer"><i class="fa fa-search-plus"></i></span></a>
							</figure>
							<figure class="col-md-3 mg-gallery-item" data-groups='["royal"]'>
								<a href="~/Content/images/gallery/IMG-20160217-WA0009.jpg" data-lightbox-gallery="rooms"><img src="~/Content/images/gallery/IMG-20160217-WA0009.jpg" class="img-responsive" alt="" /><span class="mg-gallery-overlayer"><i class="fa fa-search-plus"></i></span></a>
							</figure>
							<figure class="col-md-3 mg-gallery-item" data-groups='["royal"]'>
								<a href="~/Content/images/gallery/IMG-20160217-WA0010.jpg" data-lightbox-gallery="rooms"><img src="~/Content/images/gallery/IMG-20160217-WA0010.jpg" class="img-responsive" alt="" /><span class="mg-gallery-overlayer"><i class="fa fa-search-plus"></i></span></a>
							</figure>
							<figure class="col-md-3 mg-gallery-item" data-groups='["classic"]'>
								<a href="~/Content/images/gallery/IMG-20160217-WA0011.jpg" data-lightbox-gallery="rooms"><img src="~/Content/images/gallery/IMG-20160217-WA0011.jpg" class="img-responsive" alt="" /><span class="mg-gallery-overlayer"><i class="fa fa-search-plus"></i></span></a>
							</figure>
							<figure class="col-md-3 mg-gallery-item" data-groups='["royal"]'>
								<a href="~/Content/images/gallery/IMG-20160217-WA0012.jpg" data-lightbox-gallery="rooms"><img src="~/Content/images/gallery/IMG-20160217-WA0012.jpg" class="img-responsive" alt="" /><span class="mg-gallery-overlayer"><i class="fa fa-search-plus"></i></span></a>
							</figure>
							<figure class="col-md-3 mg-gallery-item" data-groups='["deluxe"]'>
								<a href="~/Content/images/gallery/IMG-20160217-WA0013.jpg" data-lightbox-gallery="rooms"><img src="~/Content/images/gallery/IMG-20160217-WA0013.jpg" class="img-responsive" alt="" /><span class="mg-gallery-overlayer"><i class="fa fa-search-plus"></i></span></a>
							</figure>
						    <figure class="col-md-3 mg-gallery-item" data-groups='["classic"]'>
						        <a href="~/Content/images/gallery/IMG-20160217-WA0014.jpg" data-lightbox-gallery="rooms"><img src="~/Content/images/gallery/IMG-20160217-WA0014.jpg" class="img-responsive" alt=""/><span class="mg-gallery-overlayer"><i class="fa fa-search-plus"></i></span></a>
						    </figure>
						    <figure class="col-md-3 mg-gallery-item" data-groups='["classic"]'>
						        <a href="~/Content/images/gallery/IMG-20160217-WA0015.jpg" data-lightbox-gallery="rooms"><img src="~/Content/images/gallery/IMG-20160217-WA0015.jpg" class="img-responsive" alt=""/><span class="mg-gallery-overlayer"><i class="fa fa-search-plus"></i></span></a>
						    </figure>
						    <figure class="col-md-3 mg-gallery-item" data-groups='["classic"]'>
						        <a href="~/Content/images/gallery/IMG-20160217-WA0016.jpg" data-lightbox-gallery="rooms"><img src="~/Content/images/gallery/IMG-20160217-WA0016.jpg" class="img-responsive" alt=""/><span class="mg-gallery-overlayer"><i class="fa fa-search-plus"></i></span></a>
						    </figure>
						    <figure class="col-md-3 mg-gallery-item" data-groups='["classic"]'>
						        <a href="~/Content/images/gallery/IMG-20160217-WA0017.jpg" data-lightbox-gallery="rooms"><img src="~/Content/images/gallery/IMG-20160217-WA0017.jpg" class="img-responsive" alt=""/><span class="mg-gallery-overlayer"><i class="fa fa-search-plus"></i></span></a>
						    </figure>
						    <figure class="col-md-3 mg-gallery-item" data-groups='["classic"]'>
						        <a href="~/Content/images/gallery/IMG-20160217-WA0018.jpg" data-lightbox-gallery="rooms"><img src="~/Content/images/gallery/IMG-20160217-WA0018.jpg" class="img-responsive" alt=""/><span class="mg-gallery-overlayer"><i class="fa fa-search-plus"></i></span></a>
						    </figure>
						    <figure class="col-md-3 mg-gallery-item" data-groups='["classic"]'>
						        <a href="~/Content/images/gallery/IMG-20160217-WA0019.jpg" data-lightbox-gallery="rooms"><img src="~/Content/images/gallery/IMG-20160217-WA0019.jpg" class="img-responsive" alt=""/><span class="mg-gallery-overlayer"><i class="fa fa-search-plus"></i></span></a>
						    </figure>
						    <figure class="col-md-3 mg-gallery-item" data-groups='["classic"]'>
						        <a href="~/Content/images/gallery/IMG-20160217-WA0020.jpg" data-lightbox-gallery="rooms"><img src="~/Content/images/gallery/IMG-20160217-WA0020.jpg" class="img-responsive" alt=""/><span class="mg-gallery-overlayer"><i class="fa fa-search-plus"></i></span></a>
						    </figure>
						    <figure class="col-md-3 mg-gallery-item" data-groups='["classic"]'>
						        <a href="~/Content/images/gallery/IMG-20160217-WA0021.jpg" data-lightbox-gallery="rooms"><img src="~/Content/images/gallery/IMG-20160217-WA0021.jpg" class="img-responsive" alt=""/><span class="mg-gallery-overlayer"><i class="fa fa-search-plus"></i></span></a>
						    </figure>
						    <figure class="col-md-3 mg-gallery-item" data-groups='["classic"]'>
						        <a href="~/Content/images/gallery/IMG-20160217-WA0022.jpg" data-lightbox-gallery="rooms"><img src="~/Content/images/gallery/IMG-20160217-WA0022.jpg" class="img-responsive" alt=""/><span class="mg-gallery-overlayer"><i class="fa fa-search-plus"></i></span></a>
						    </figure>
						    <figure class="col-md-3 mg-gallery-item" data-groups='["classic"]'>
						        <a href="~/Content/images/gallery/IMG-20160217-WA0023.jpg" data-lightbox-gallery="rooms"><img src="~/Content/images/gallery/IMG-20160217-WA0023.jpg" class="img-responsive" alt=""/><span class="mg-gallery-overlayer"><i class="fa fa-search-plus"></i></span></a>
						    </figure>
                            <figure class="col-md-3 mg-gallery-item" data-groups='["classic"]'>
								<a href="~/Content/images/gallery/IMG-20160217-WA0024.jpg" data-lightbox-gallery="rooms"><img src="~/Content/images/gallery/IMG-20160217-WA0024.jpg" class="img-responsive" alt="" /><span class="mg-gallery-overlayer"><i class="fa fa-search-plus"></i></span></a>
							</figure>
						</div>
					</div>
            </div>
        </div>
    </div>




  


}