@{
    ViewBag.Title = "Home Page";
}

@section morehead{
    <meta name="google-site-verification" content="IwfUoDUj38VY9ePYmbmhTjW98tL40Q9Rr6JgQciub-o" />
}

@section navigation
{
    <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/Home/Index">Home</a></li>
        <li><a href="/Home/Rooms">Rooms</a></li>
        <li><a href="/Home/Gallery">Gallery</a></li>
        <li><a href="/Home/About">About Us</a></li>
        <li><a href="/Home/Contact">Contact Us</a></li>
    </ul>
}

@section featured {
    <div id="mega-slider" class="carousel slide " data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#mega-slider" data-slide-to="0" class="active"></li>
            <li data-target="#mega-slider" data-slide-to="1"></li>
            <li data-target="#mega-slider" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active beactive">
                <img src="~/Content/images/slide-4.png" alt="...">
                <div class="carousel-caption">
                    <img src="~/Content/images/stars.png" alt="">
                    <h2>Welcome to New Travellers Lodge</h2>
                    <p>We treat our customers like king</p>
                </div>
            </div>
            <div class="item">
                <img src="~/Content/images/slide-2.png" alt="...">
                <div class="carousel-caption">
                    <img src="~/Content/images/stars.png" alt="">
                    <h2>Feel Like Your Home</h2>
                    <p>Our services makes it feel like it's your home</p>
                </div>
            </div>
            <div class="item">
                <img src="~/Content/images/slide-3.png" alt="...">
                <div class="carousel-caption">
                    <img src="~/Content/images/stars.png" alt="">
                    <h2>Perfect Place for Dining</h2>
                    <p>New Travellers Lodge & Suite is the perfect place for dining.</p>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#mega-slider" role="button" data-slide="prev"></a>
        <a class="right carousel-control" href="#mega-slider" role="button" data-slide="next"></a>
    </div>

    <div class="mg-book-now">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h2 class="mg-bn-title">Book A Room <span class="mg-bn-big">We'd reserve it for you</span></h2>
                </div>
                <div class="col-md-9">
                    <div class="mg-bn-forms">
                        <form action="#">
                            <div class="row">
                                <div class="col-md-3 col-xs-6">
                                    <div class="input-group date mg-check-in">
                                        <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Check In">
                                    </div>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                    <div class="input-group date mg-check-out">
                                        <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Check Out">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="">
                                        <div class="">
                                            <input class="form-control" placeholder="Phone" type="text"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3" style="width: 120px;">
                                    <button type="submit" class="btn btn-main btn-block">Book Now</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mg-best-rooms">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mg-sec-title">
                        <h2>Our Rooms</h2>
                        <p>We've got rooms of different categories</p>
                    </div>
                    <div class="row">
                        <p>All guests rooms are tastefully furnished with big beds, plush arm chair and coffee lounge table,
                            mini bar with ensuite bathroom with water heater.
                            The rooms are complemented with a 23” plasma screens, an executive working desk
                            with high speed internet access among others.</p>
                        <br/>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <figure class="mg-room">
                                <img src="~/Content/images/executive_suite.jpg" alt="img11" class="img-responsive">
                                <figcaption>
                                    <h2>Executive Suites</h2>
                                    <div class="mg-room-rating"><i class="fa fa-star"></i>5</div>
                                    <div class="mg-room-price">N7000<sup>/Night</sup></div>
                                    <p>Executive Class Rooms</p>
                                    <a href="/Home/Rooms" class="btn btn-link">View Details <i class="fa fa-angle-double-right"></i></a>
                                    @*<a href="#" class="btn btn-main">Book</a>*@
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-sm-4">
                            <figure class="mg-room">
                                <img src="~/Content/images/masters_suite.jpg" alt="img11" class="img-responsive">
                                <figcaption>
                                    <h2>Masters' Suites</h2>
                                    <div class="mg-room-rating"><i class="fa fa-star"></i>5</div>
                                    <div class="mg-room-price">N5000<sup>/Night</sup></div>
                                    <p>Masters Class Rooms</p>
                                    <a href="/Home/Rooms" class="btn btn-link">View Details <i class="fa fa-angle-double-right"></i></a>
                                    @*<a href="#" class="btn btn-main">Book</a>*@
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-sm-4">
                            <figure class="mg-room">
                                <img src="~/Content/images/single_suite.jpg" alt="img11" class="img-responsive">
                                <figcaption>
                                    <h2>Single Suites</h2>
                                    <div class="mg-room-rating"><i class="fa fa-star"></i>5</div>
                                    <div class="mg-room-price">N4000<sup>/Night</sup></div>
                                    <p>Single Suite Rooms.</p>
                                    <a href="/Home/Rooms" class="btn btn-link">View Details <i class="fa fa-angle-double-right"></i></a>
                                    @*<a href="#" class="btn btn-main">Book</a>*@
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="container">
			<div class="row">
				<div class="col-md-12">
					<hr>
				</div>
			</div>
		</div> -->
    <div class="mg-about parallax">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h2 class="mg-sec-left-title">About New Travellers Lodge</h2>
                    <p>
                        Thank you for choosing new travellers lodge and suites.
					        Our hotel is located in the heart of Lagos state, the commercial city of Nigeria.<br/>
                        We offer easy access to numerous interstate bus terminals of Iyana Ipaja sub region and is 20minutes drive
                        from Muritala Muhammed international airport Ikeja.<br/>
					        Set on the commercial and steel trading neighbourhood, the hotel offers both indoor and outdoor
					        relaxation facilities with high speed internet access and more for our guest.<br/>
					        Enjoy the comfort of new travellers lodge and suites for your business and leisure travels with fast internet services among others.
                    </p>
                </div>
                <div class="col-md-5">
                    <div class="video-responsive">
                        <img src="~/Content/images/single_suite.jpg" alt="img11" class="img-responsive">
                        @*<iframe src="https://player.vimeo.com/video/134008155" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>*@
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mg-features">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mg-sec-title">
                        <h2>Hotel facilties</h2>
                        <p>Our customers have always enjoyed them.</p>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="mg-feature">
                                <div class="mg-feature-icon-title">
                                    <i class="fp-ht-receptionist"></i>
                                    <h3>24-hour reception</h3>
                                </div>
                                <p>Our services are available 24 hours, 7 days in a week. You would nerver regret checking into our hotel or making use of any of our services.</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="mg-feature">
                                <div class="mg-feature-icon-title">
                                    <i class="fa fa-cogs"></i>
                                    <h3>Room service</h3>
                                </div>
                                <p>Our rooms are well furnished with executive class decorations. It's going to make you be home away from home.</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="mg-feature">
                                <div class="mg-feature-icon-title">
                                    <i class="fa fa-car"></i>
                                    <h3>Car hire</h3>
                                </div>
                                <p>We offer car hire services too. We can pick you from anywhere down to our hotel or take you from our hotel to your desired destination.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="mg-feature">
                                <div class="mg-feature-icon-title">
                                    <i class="fa fa-lightbulb-o"></i>
                                    <h3>24-hours Power Supply</h3>
                                </div>
                                <p>There is no moment of blackout with our standby generating sets that swings into action as soon as power is off.</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="mg-feature">
                                <div class="mg-feature-icon-title">
                                    <i class="fa fa-coffee"></i>
                                    <h3>Coffee and tea</h3>
                                </div>
                                <p>Why request for refreshments else where when we have it all stocked because of you? We would give it to you exactly the way you would want it served.</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="mg-feature">
                                <div class="mg-feature-icon-title">
                                    <i class="fa fa-cogs"></i>
                                    <h3>Free Wi-Fi</h3>
                                </div>
                                <p>Enjoy our free Internet WiFi from the comfort of your rooms to the bar, restaurant and within our vicinity.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<div class="mg-testi-partners parallax">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="mg-sec-left-title">Testimonial</h2>
                    <div class="mg-testimonial-slider" id="mg-testimonial-slider">
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consumeret terminatas oritur euripidis satis. Venisset ipsum.</p>
                            <footer>John Doe, Example Inc</footer>
                        </blockquote>
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sol magnum gustare pararetur statuam, morbi patriam omittantur.</p>
                            <footer>John Doe, Example Inc</footer>
                        </blockquote>
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Stabilem monet, petat excepturi nudus expeteremus fabellas vexetur.</p>
                            <footer>John Doe, Example Inc</footer>
                        </blockquote>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2 class="mg-sec-left-title">Our Partners</h2>
                    <ul class="mg-part-logos" id="mg-part-logos">
                        <li>
                            <img src="~/Content/images/part-logo-1.png" alt="Partner Logo"></li>
                        <li>
                            <img src="~/Content/images/part-logo-2.png" alt="Partner Logo"></li>
                        <li>
                            <img src="~/Content/images/part-logo-3.png" alt="Partner Logo"></li>
                        <li>
                            <img src="~/Content/images/part-logo-1.png" alt="Partner Logo"></li>
                        <li>
                            <img src="~/Content/images/part-logo-3.png" alt="Partner Logo"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>*@


}
