@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section navigation
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/Home/Index">Home</a></li>
        <li class="active"><a href="/Home/Rooms">Rooms</a></li>
        <li><a href="/Home/Gallery">Gallery</a></li>
        <li><a href="/Home/About">About Us</a></li>
    </ul>
}

@section featured{
    <div class="mg-page-title parallax">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Our Rooms</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="mg-page mg-available-rooms">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mg-avl-room">
                        <div class="row">
                            <div class="col-sm-5">
                                <a href="#">
                                    <img src="~/Content/images/masters_suite.jpg" alt="" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-7">
                                <h3 class="mg-avl-room-title"><a href="#">Executive Masters' Suites</a> <span>N7000/Night</span></h3>
                                <p>These are executive masters' rooms for execlusively executive people.</p>
                                <div class="row mg-room-fecilities">
                                    <div class="col-sm-6">
                                        <ul>
                                            <li><i class="fp-ht-bed"></i>Big Beds</li>
                                            <li><i class="fp-ht-bathtub"></i>Plush arm chair</li>
                                            <li><i class="fp-ht-coffee"></i>Coffee lounge table</li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6">
                                        <ul>
                                            <li><i class="fp-ht-beer"></i>Mini Bar</li>
                                            <li><i class="fp-ht-bathtub"></i>Bathroom</li>
                                            <li><i class="fp-ht-computer"></i>Wi-fi service</li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="mg-avl-room">
                        <div class="row">
                            <div class="col-sm-5">
                                <a href="#">
                                    <img src="~/Content/images/executive_suite.jpg" alt="" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-7">
                                <h3 class="mg-avl-room-title"><a href="#">Executive Suite</a> <span>N5000/Night</span></h3>
                                <p>Executive Suites are rooms for executive personalities.</p>
                                <div class="row mg-room-fecilities">
                                    <div class="col-sm-6">
                                        <ul>
                                            <li><i class="fp-ht-bed"></i>Big Beds</li>
                                            <li><i class="fp-ht-bathtub"></i>Plush arm chair</li>
                                            <li><i class="fp-ht-coffee"></i>Coffee lounge table</li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6">
                                        <ul>
                                            <li><i class="fp-ht-beer"></i>Mini Bar</li>
                                            <li><i class="fp-ht-bathtub"></i>Bathroom</li>
                                            <li><i class="fp-ht-computer"></i>Wi-fi service</li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="mg-avl-room">
                        <div class="row">
                            <div class="col-sm-5">
                                <a href="#">
                                    <img src="~/Content/images/single_suite.jpg" alt="" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-7">
                                <h3 class="mg-avl-room-title"><a href="#">Single Suite</a> <span>N4000/Night</span></h3>
                                <p>Single Suite Rooms are rooms for single people. bla bla bla</p>
                                <div class="row mg-room-fecilities">
                                    <div class="col-sm-6">
                                        <ul>
                                            <li><i class="fp-ht-bed"></i>Big Beds</li>
                                            <li><i class="fp-ht-bathtub"></i>Plush arm chair</li>
                                            <li><i class="fp-ht-coffee"></i>Coffee lounge table</li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6">
                                        <ul>
                                            <li><i class="fp-ht-beer"></i>Mini Bar</li>
                                            <li><i class="fp-ht-bathtub"></i>Bathroom</li>
                                            <li><i class="fp-ht-computer"></i>Wi-fi service</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
